.select span.main{
    width: 60px;
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;

}

.items {
    width: 80px;
    position: absolute;
    padding: 5px;
    border: 1px solid #74afea;
    border-radius: 5px;
    background-color: #c8f8f8;
}

.item.selected {
    padding: 3px;
    background-color: #557df3;
    color: white;
}

